.printstatements{
    color: #191f22;
    font-size: 100%;
    text-align: center;
    font-family: Garamond, serif;
    font: bold;
}
    
.title{
        text-align:center;
        color: white;
        font: sans-serif;
        font-size: 400%;
}

body
    {  
    background: radial-gradient(ellipse at center, #5644D4, #32522B);
}

#retype{
color: #abebeb;
border-right: solid 0.1em #191fc2;
}

#HowItWorks, #UploadImages, #AvBC, #imbr
{
   color: #ade9ed;
   font-size: 250%;
   text-align: center;
}

.description
{
   font-size:150%;
   text-align: center;
   color: honeydew;
   padding-left: 10%; padding-right: 10%;

}

.subq
{
   font-size:175%;
   text-align: center;
   color: honeydew;
   padding-left: 10%; padding-right: 10%;
}

.uploadbutton
{
    background-color: #e4f2f5;
    color: #042066;
    font-size: 100%;
    opacity: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact, .contact
{
    color :azure; 
    text-align: center;
    font-size: 90%;
}
